{% extends "hello/layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<main>
    <p>
        The Digi Farm website was launched to address the financial hurdles farmers face in acquiring modern equipment. It offers flexible leasing options to enable farmers to access advanced machinery without hefty upfront costs. The site aims to enhance agricultural efficiency, productivity, and sustainability by providing affordable equipment solutions and expert guidance throughout the leasing process.
    </p>
{% endblock %}