{% extends "hello/layout.html" %}
{% block title %}
DIGI FARM
{% endblock %}
{% block content %}
<main>
    <p>Welcome to Digi Farm website! We provide flexible and affordable leasing solutions tailored to meet the needs of modern farmers. From tractors to harvesters, we've got you covered.</p>
    <section class="features">
        <div class="container">
            <h2>Why Choose Us?</h2>
            <div class="box">
                
                <h3>High-Quality Equipment</h3>
                <p>Our leasing options offer access to top-of-the-line farm equipment.</p>
            </div>
            <div class="box"> 
                <h3>Exceptional Customer Service</h3>
                <p>Our team is dedicated to providing excellent support throughout your leasing experience.</p>
            </div>
            <div class="box">
                
                <h3>Flexible Leasing Terms</h3>
                <p>We offer customizable leasing plans to suit your farm's unique needs and budget.</p>
            </div>
        </div>
    </section>
    <div>
        <p>Explore our range of equipment and leasing using the button below:</p>
        <button id="catalog" onclick="openPage()">Equipment</button>
        <script>
            function openPage() {
                window.location.href ="{% url 'catalog' %}"; // Replace 'catalog.html' with the URL of the page you want to open
            }
        </script>
    </div>
</main>
{% endblock %}